<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.homework.servlets.filter.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CardController</servlet-name>
        <servlet-class>org.homework.servlets.controller.CardController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExceptionHandler</servlet-name>
        <servlet-class>org.homework.servlets.exception.ExceptionHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CardController</servlet-name>
        <url-pattern>/cards</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExceptionHandler</servlet-name>
        <url-pattern>/exceptionhandler</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/exceptionhandler</location>
    </error-page>

</web-app>